<%= form_for @answer do |f| %>  

  <p>
    <%= f.label :answer %>
    <%= f.text_area :advise, class: "form-control" %>  
  </p>
  
  <%= f.hidden_field :question_id, :value => @question.id %>
  <button class="btn btn-primary">answer</button>
<% end %>