
  <% @categories.each do |category| %>
    <%= link_to category.name, category, class: "category_heading" %>
  <% end %>

  <h1>Problems</h1>

  <div class="question_return">
    <% @questions.each do |question| %>
      <p><% User.where(id: question.user_id).each do |user| %>
        <h4><%= user.username %></h4>
      <% end %>
      <%= link_to question.content, question_path(question.id) %></p>
    <% end %>
  </div>
