<div class="center"> 
  <%= form_for @question do |f| %>  
    <div id="category">
      Select a category: 
      <%= f.collection_select :category_id, @categories, :id, :name, class: "form-control" %>
    </div>
    <div class="col-md-12">
      <%= f.text_area :content, class: "form-control", placeholder: "Select the category above and enter your relationship problem here.", :cols => "30", :rows => "7" %>  
    </div>
    

    <button class="btn btn-lg btn-primary" id="ask">Submit</button>
  <% end %>

</div> 

