body {
  background-color: #f2f1ef;
  color: #494949;
}
li {
  list-style: none;
  display: inline-block;
}
.right {
  text-align: right;
}
.left {
  text-align: left;
}
.center{
  text-align: center;
}
.logo {
  display: inline-block;
}
.container {
  margin: 0 auto;
  text-align: center;
}
.search {
  margin-top: 1.7em;
}
.navbar-brand {
  margin-top: -0.7em;
}