@import url(http://fonts.googleapis.com/css?family=Lato);
body {
  font-size: 1.5em;
  background-color       : #f2f1ef;
  color                  : #fff;
  width                  : 100%;
  height                 : 100%;
/*  background-image       : url(http://666a658c624a3c03a6b2-25cda059d975d2f318c03e90bcf17c40.r92.cf1.rackcdn.com/unsplash_527bf56961712_1.JPG);*/
  -moz-background-size   : cover;
  -webkit-background-size: cover;
  background-size        : cover;
  background-position    : top center !important;
  background-repeat      : no-repeat !important;
  background-attachment  : fixed;
}

span {
  font-size: 1.2em;
}
footer {
  background-color: rgba(1,1,1,0.8);
  margin-top      : 12em;
  padding         : 2em;
  min-height      : 10em;
  text-align      : center;
}
li {
  list-style: none;
  display   : inline-block;
}
.right {
  text-align: right;
}
.left {
  text-align: left;
}
.center{
  text-align: center;
  margin:0 auto;
}
.logo {
  display: inline-block;
}
.container {
  margin: 0 auto;
  text-align: center;
  width: 100%;
  padding: 0;
  margin: 0;
}
.search {
  margin-top: 1.7em;
}
.navbar {
  position: fixed;
  width: 100%;
}
.navbar-brand {
  margin-top: -0.7em;
}
.navbar-inverse {
  background-color: rgba(1,1,1,0.8);
  border-color    : none;
}
#ask {
  margin-top: 1.3em;
}
#category {
  margin-bottom: 1em;
  font-size    : 1.1em;
}
h1 {
  margin-top     : 1em;
  margin-bottom : 0.7em;
  font-family: 'Lato', sans-serif;
}
h2 {
  color        : #fff;
  margin-top   : -1em;
  margin-bottom: 1em;
  font-family  : 'Lato', sans-serif;
}
h4 {
  font-family: 'Lato', sans-serif;
  display    : inline-block;
  padding    : 0 1em;
}
h5 {
  margin-bottom: 4em;
}
a {
  color: #fff;;
}
a:hover {
  color: #5093B8;
  text-decoration: none;
}
table {
/*  background-color: #999;*/
  font-size: 0.8em;
  color    : #dedfe0;
}
ul li a {
  text-align: right;
}
.category_heading {
  padding         : 0.7em;
  margin-bottom   : 2em;
  background-color: #333;
  border-radius   : 7px;
  line-height     : 3em;
}
.question_return {
  margin-top: 2em;

}
.username {
  display  : inline-block;
  font-size: 1.2em;
  color    : #444;
}
.question_content {
  display: inline-block;
}
#question_category_id {
  background-color: #fff;
  color           : #777;
  height          : 2em;
}
#comment_feed {
  color: #000;
}
.commentblock {
  display  : inline-block;
  color    : #fff;
  font-size: 0.9em;
}
.advise {
  font-size  : 1.3em;
  padding-top: 2em;
  color      : orange;
}
.comment_separation {
  color         : #999;
  margin        : 2em 0;
  padding-top   : 1em;
  padding-bottom: 3em;
}
.answerloop {
  background-color: #333;
  margin-top: 1em;
  
}
.backlink {
  margin-bottom: 1em;
}
.back {
  min-height      : 600px;
  background-color: #999;
 /* padding         : 2em;*/
  border-radius   : 5px;
  margin-top: 2em;
}
.landing_title {
  color: #fff;
 /* background-color: rgba(1,1,1,0.5);*/
  padding: 0.1em;
  margin-top: 2em;
}
.login {
  margin-left: 1em;
}
.star-rating {
  margin-top: 1em;
}
.star-comment {
  margin-bottom: 4em;
  color        : #999;
}
.starvote {
  margin: 0.5em 0;
}
.commentform {
  background   : rgba(66,180,230, 0.7);
  border-radius: 5px;
  padding      : 1em;
  margin       : 0 9em -1.5em 9em;
}
.answer_user {
  font-size: 0.8em;
  color    : #999;
}
.form-control {
  background-color: rgba(1,1,1,0.8);
  color           : #fff;
  border-color    : #333;
  border-radius   : 5px;
  max-width       : 70%;
  display         : inline-block;
}

#question_category_id {
  background-color: #181818;
  border-color    : #222;
  color           : #fff;
}
#commentfield {
  margin          : 1em 0;
  height          : 8em;
  background-color: #444;
  border          : none;
}
li #chat a img {
  color: #fff;
}
#seek {
  display: inline-block;
  text-align: right;
}
.shadow {
  text-shadow: 1px 1px 1px #999;
}
.wrapper {
  top   : 0;
  width : 100%;
  height: 100%;
}
.home-page {
  background-image   : url('/assets/perfect.jpg');
  width              : 100%;
  height             : 100%;
  position           : absolute;
  background-size    : cover;
  background-color   : #999;
  background-position: center;
}
.display-none{
  background-color: rgba(1,1,1,0);
}
.context {
  color           : #e9e9e9;
  position        : absolute;
  top             : 100%;
  width           : 100%;
  height          : 200px;
  text-align      : center;
  background-color: #8e8e8e;
  padding         : 1.5em 2em;
}