
  <% @categories.each do |category| %>
    <%= link_to category.name, category, class: "category_heading" %>
  <% end %>

<div class="question_return">
  <% @questions.each do |question| %>
    <% User.where(id: question.user_id).each do |user| %>
        <div class="username"><%= user.username %>: </div>
      <% end %>
    <div class="question_content"><%= link_to question.content, question_path(question.id) %></div>
      <br>  
  <% end %>  
</div>
